/* ==========
common css
============ */
a{
    text-decoration:none;
}
ol,ul{
    list-style: none;
}
.common-button a{
    color:#1B1C2B;
    font-size:18px;
    font-weight:600;
    background-color:#FCD980;
    font-family: "Manrope", serif;
    padding:16px 56px;
    border-radius: 41px;
    border:1px solid transparent;
    transition:.5s;
}
.common-button:hover a{
    background-color:#1C1E53;
    border:1px solid rgba(244, 246, 252, 0.20);
    color:white;
}
/*==========
 common css
 ============== */

/* =============
navbar part start
================ */
.navbar{
    background-color:#1C1E53 !important;
    /* background-color:green !important; */
    padding:16px 0px;
    border:5px solid transparent;
    transition:.5s;
}
.navbar:hover{
    border:5px solid #2405F2;
}
.nav-item a{
    padding-right:0px !important;
    padding-left:0px !important;
}
.navbar-nav{
    column-gap:32px;
}
.nav-link{
    font-size:16px;
    font-weight:500;
    color:#BBBBCB;
    font-family: "Open Sans", serif;
    transition:.5s;
}
.nav-link:hover{
    color:white;
}


.navbar-button a{
     font-size:16px;
     font-weight:500;
     color:#FFFFFF;
     font-family: "Open Sans", serif;
     text-decoration:none;
     transition:.5s;
}
.navbar-button{
    padding:16px 48px;
    background-color:#1C1E53 ;
    border-radius:41px;
    border:1px solid rgba(244, 246, 252, 0.20);
    margin-left:48px;
    transition:.5s;
}
.navbar-button:hover{
          background-color:#FCD980;
          border:1px solid #2405F2;
        
}
.navbar-button:hover a{
    color:green;
}
/* =============
navbar part end
================ */
/* ================
banner part start
=============== */
.banner{
    background-color:#1C1E53;
}
.banner h1{
    font-size:54px;
    font-weight:600;
    font-family: "Open Sans", serif;
    color:white;
    width:582px;
}
.banner p{
     font-size:16px;
     font-weight:500;
     font-family: "Open Sans", serif;
     color:white;
     width:545px;
     padding-top:24px;
     padding-bottom:48px;
}
.banner .row{
    padding:127px 0px;
    align-items:center;
   
}


 .banner .common-button-box{
    display:flex;
    column-gap:40px;
    align-items:center;
 }
 
 .banner .common-button-box .buttonside a{
    color:white;
    display:inline-block;
 }
 .banner .common-button-box .buttonside{
    display:flex;
    column-gap:16px;
    align-items:center;
    justify-content: center;
 }
 .banner .common-button-box .buttonside .fa-solid{
    color:white;
    position:relative;
    animation-name:jahidul;
    animation-duration:2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
 }
 @keyframes jahidul{
    0%{
        top:0;
        left:0;
    }
    50%{
        top:0;
        left:20px;
    }
   100%{
        top:0;
        left:0;
    }
 }
 /* ================
banner part end
=============== */